nav.navbar.navbar-inverse
  .container
    .navbar-header
      a.navbar-brand#navb(href='/') The Anchor Project
      a.navbar-brand#navb(href='/users/logout') Logout
    // /.navbar-collapse
//.navbar-fixed-top [befoure the content]
