// Main jumbotron for a primary marketing message or call to action
.container
  .jumbotron
    .row
      .col-md-10
        h1 
          | The Anchor Project
        //h2 Powered by #{title}!
        h3
          | Welcome to the Anchor Project
        h6
          | --Sanyam Arya
        p
          a.btn.btn-primary.btn-lg(href='#about', role='button') Learn more »
      .col-md-2
        img(src='images/logo.png')
