ul.sidenav
  li.sidenav(class=title=='Profile'?'active':undefined)
    a.sidenav(href='/users') Profile
  li.sidenav(class=title=='Devices'?'active':undefined)
    a.sidenav(href='/users/device') Devices
  li.sidenav(class=title=='AddDevices'?'active':undefined)
    a.sidenav(href='/users/addDevices') Add Device
