- var HOMEPAGE = false;
block variables
doctype html

html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
    script(src='/javascripts/bootstrap.js')

  body
    if (title=='Home')
      include ./includes/navbar.jade
      include ./includes/showcase.jade
    else if (title=='Profile'||title=='Devices'||title=='AddDevices'||title=='End_Nodes')
      include ./includes/navbaruser.jade
    else
      include ./includes/navbar.jade
    .container
      block content
      include ./includes/footer.jade
