extends layout
block content
    .wrapper
      form.form-signin(method='post', action='/users/login')
        h2.form-signin-heading Please login
        .form-group
          label Username
          input.form-control(type='text', name='username', placeholder='Username')
        .form-group
          label Password
          input.form-control(type='password', name='password', placeholder='Password')
        button.btn.btn-default(type='submit') Submit
        hr
        a(href='/users/register')
          h5#center  Don't have an account ? 
            br
            | Register now . !
