extends layout
block content
  

  body
    .container
      .row
        .col-md-2
          .wraper
          include ./dashboard/sidenav.jade
        .col-md-10#middle
          #columnusers
            if(title == 'Profile')
              include ./dashboard/userInfo.jade
            if(title == 'Devices')
              include ./dashboard/devices.jade
            if(title == 'AddDevices')
              include ./dashboard/addDevices.jade
            if(title == 'AddEndDevices')
              include ./dashboard/addEndDevices.jade
            if(title=='End_Nodes')
              include ./dashboard/end_nodes.jade
            if(title=='Data')
              include ./dashboard/data.jade
