
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/bootstrap.js')
  
  include ./includes/navbaruser.jade

  body
    .container
      .row
        .col-md-2
          .wraper
          include ./dashboard/sidenav.jade
        .col-md-10#middle
          #columnusers
            if(title == 'Profile')
              include ./dashboard/userInfo.jade
            if(title == 'Devices')
              include ./dashboard/devices.jade
            if(title == 'AddDevices')
              include ./dashboard/addDevices.jade
            
    .container   
      include ./includes/footer.jade
